h1 {
    font-family: 'LioJuanMaiCao' !important;
    font-size: 50px;
}
@font-face {
    /* font-family: 'Comfertaa';
    src: url('src\assets\fonts\Comfortaa\static\Comfortaa-Bold.ttf'); */
    font-family: 'LioJuanMaiCao';
    src: url('src\assets\fonts\LioJianMaiCao\LiuJianMaoCao-Regular.ttf');
}
.navbar{
    height: 85px;
}

.site-header {
    
    }
   
.nav-link {

    
}

.active{
    text-decoration: underline;
    background-color: rgb(226, 226, 181);
}
.nav-img{
    padding-right: 3%;
}



.bg-img {
  
  
    min-height: 90px;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
    /* Needed to position the navbar */
    position: relative;
  }
  
  /* Position the navbar container inside the image */
  .container-fluid {
    position: absolute;
  }
  
  /* The navbar */
  
  
  /* Navbar links */
  
  .navbar-brand {
     padding-left: 40%;
    font-weight: 800;
    color: rgb(75, 75, 75);
    font-family: 'LioJuanMaiCao' !important;
    font-size: 45px;
  }