<p>our-team works!</p>



<div class="container-fluid">
<div class="row">
    <div class="col-3 box">I am a col 3 box</div>
    <div class="col-3 box">I am a box</div>
    <div class="col-3 box">I am a box</div>
    <div class="col-3 box">I am a box</div>
</div>
</div>

<div class="container-fluid">
    <div class="row">

        
        <div class="card col-md-6 cold-lg-6 col-sm-12">
           col 6
        </div>
        <div class="card col-md-6 cold-lg-6 col-sm-12">
            ksadlk
        </div>
    </div>
</div>


