<p>our-team works!</p>



<div class="container-fluid">
<div class="row">
    <div class="col-3 box">I am a col 3 box</div>
    <div class="col-3 box">I am a box</div>
    <div class="col-3 box">I am a box</div>
    <div class="col-3 box">I am a box</div>
</div>
</div>

<div class="container-fluid">
    <div class="row">

        
        <div class="card col-md-6 cold-lg-6 col-sm-12">
           col 6
        </div>
        <div class="card col-md-6 cold-lg-6 col-sm-12">
            ksadlk
        </div>
    </div>
</div>

<div class="card col-6">
    <div class="card-body">
      <h5 class="card-title">Title</h5>
      <p class="card-text">
        Do you feel like traditional forms of health care have not been able to
        help?
      </p>
      <a href="#" class="btn btn-primary">Link</a>
    </div>
  </div>
  
  <div
    class="row justify-content-center"
    data-aos="fade"
    data-aos-offset="100"
    data-aos-delay="50"
    data-aos-duration="1000"
    data-aos-easing="ease-in-out"
    data-aos-mirror="true"
    data-aos-once="false"
  >
    <div class="card col-lg-3 col-sm-3">
      <div class="card-body">
        <h5 class="card-title">Who Can We Help?</h5>
        <p class="card-text">
          ​​ Anyone with a joint, bone, muscle, ligament and/or tendon injury who
          wants to get better quickly using safe and effective methods
        </p>
        <a href="#" class="btn btn-primary">Link</a>
      </div>
    </div>
  </div>
  
  <div data-aos="fade-in">div</div>
  
