<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

<div class="row backroundimg">
    <app-header class="header"></app-header>  
  
</div>





 

<div class="row justify-content-center" >
  <div class="col-3">middle column</div>
</div>

<div class="row justify-content-center "  data-aos="fade"
data-aos-offset="100"
data-aos-delay="50"
data-aos-duration="1000"
data-aos-easing="ease-in-out"
data-aos-mirror="true"
data-aos-once="false" >
  <div class="card col-lg-3 col-sm-3">
    <div class="card-body">
      <h5 class="card-title">Title</h5>
      <p class="card-text">
        Do you feel like traditional forms of health care have not been able to
        help?
      </p>
      <a href="#" class="btn btn-primary">Link</a>
    </div>
  </div>
</div>

<div class="row justify-content-center"
 data-aos="fade"
data-aos-offset="100"
data-aos-delay="50"
data-aos-duration="1000"
data-aos-easing="ease-in-out"
data-aos-mirror="true"
data-aos-once="false" >
  <div class="card col-lg-3 col-sm-3">
    <div class="card-body">
      <h5 class="card-title">Who Can We Help?</h5>
      <p class="card-text">
        ​​ Anyone with a joint, bone, muscle, ligament and/or tendon injury who
        wants to get better quickly using safe and effective methods
      </p>
      <a href="#" class="btn btn-primary">Link</a>
    </div>
  </div>
</div>

<div data-aos="fade-in">
    div
</div>



