<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

<div class="backroundimg d-flex justify-content-center align-items-center">
  <h3>
    Do you feel like traditional forms of health care have not been able to
    help? <br />
    You've come to the right place
  </h3>
</div>

<div class="row justify-content-center">
  <h2>Welcome To Tiny Tummies</h2>
  <hr class="col-8 hr-title" />
</div>

<div
  class="row justify-content-center main-box-1"
  data-aos="fade"
  data-aos-offset="100"
  data-aos-delay="50"
  data-aos-duration="1000"
  data-aos-easing="ease-in-out"
  data-aos-mirror="true"
  data-aos-once="false"
>
 <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 box-1">
    <h2 class="box-title">Who We Are</h2>
    <p class="main-box-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor ea commodo consequat. Duis aute irure dolor in Lorem ipsum dolor sit amet, co Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim 
      agna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliqui
      
      
    </p>
  </div> 
  <img class="col-lg-3 col-md-12 col-sm-12 col-xs-12 box-1-img" src="https://images.unsplash.com/photo-1595183241165-f6ba98b7d4eb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwcm9maWxlLWxpa2VkfDE5fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60" alt="">
</div>

<div
  class="row justify-content-center"
  data-aos="fade"
  data-aos-offset="100"
  data-aos-delay="50"
  data-aos-duration="1000"
  data-aos-easing="ease-in-out"
  data-aos-mirror="true"
  data-aos-once="false"
>
<img class="col-lg-4 col-md-12 col-sm-12 col-xs-12 box-2-img" src="https://images.unsplash.com/photo-1576659407880-c06b00009853?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwcm9maWxlLWxpa2VkfDEwfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60" alt="">
  <!-- <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 box-2-img"></div> -->

  <!-- <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 box-2">
    <h2 class="box-title main-box">What We're About</h2>
    <p class="main-box-text main-box">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi eaque
      temporibus incidunt iusto tempore mollitia facilis non aliquam,
      odio commodi obcaecati quam aliquid illo nihil doloribus beatae itaque.
      Harum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi
      eaque temporibus deleniti incidunt iusto tempore mollitia facilis non
      aliquam, odio commodi obcaecati quam aliquid illo nihil doloribus beatae
      itaque. Harum!Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Quasi eaque temporibus deleniti incidunt iusto tempore mollitia facilis
      non aliquam, odio commodi obcaecati quam aliquid illo nihil doloribus
      beatae itaque. Harum!Lorem ipsum dolor sit amet consectetur adipisicing
      
      
    </p>
  </div> -->
</div>


<div class="row justify-content-center">
  <hr class="col-8 hr-main" />
</div>

<div
  class="row justify-content-center"
  data-aos="fade"
  data-aos-offset="100"
  data-aos-delay="50"
  data-aos-duration="1000"
  data-aos-easing="ease-in-out"
  data-aos-mirror="true"
  data-aos-once="false"
>
<div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 team-section">
  <h2 class="about-us-title">A Little About Us</h2>
  <img class="us-img" src="https://images.squarespace-cdn.com/content/v1/62f27bbbcb4c032724998abd/5380fd70-ae0d-48fe-952c-46c7b3fa01d0/4Y3A2011.jpg?format=500w" alt="">
  <p class="team-text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi eaque
    temporibus incidunt iusto tempore mollitia facilis non aliquam,
    odio commodi obcaecati quam aliquid illo nihil doloribus beatae itaque.
    Harum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi
    <br>
    <br>
    eaque temporibus deleniti incidunt iusto tempore mollitia facilis non
    aliquam, odio commodi obcaecati quam aliquid illo nihil doloribus beatae
    itaque. Harum!Lorem ipsum dolor sit amet consectetur adipisicing elit.
    <br> <br>
    Quasi eaque temporibus deleniti incidunt iusto tempore mollitia facilis
    non aliquam, odio commodi obcaecati quam aliquid illo nihil doloribus
    beatae itaque. Harum!Lorem ipsum dolor sit amet consectetur adipisicing
    elit. Quasi eaque temporibus deleniti incidunt iusto tempore mollitia
    facilis non aliquam, odio commodi obcaecati quam aliquid illo nihil
    <br> <br>
    Quasi eaque temporibus deleniti incidunt iusto tempore mollitia facilis
    non aliquam, odio commodi obcaecati quam aliquid illo nihil doloribus
    beatae itaque. Harum!Lorem ipsum dolor sit amet consectetur adipisicing
    elit. Quasi eaque temporibus deleniti incidunt iusto tempore mollitia
    facilis non aliquam, odio commodi obcaecati quam aliquid illo nihil
    
    <br> <br>
    Quasi eaque temporibus deleniti incidunt iusto tempore mollitia facilis
    non aliquam, odio commodi obcaecati quam aliquid illo nihil doloribus
    beatae itaque. Harum!Lorem ipsum dolor sit amet consectetur adipisicing
    elit. Quasi eaque temporibus deleniti incidunt iusto tempore mollitia
    facilis non aliquam, odio commodi obcaecati quam aliquid illo nihil
    
  </p>
</div>
</div>

<div class="row justify-content-center">
  <hr class="col-8 hr-main" />
</div>

<div class="row justify-content-center testimonial-section"  data-aos="fade"
data-aos-offset="100"
data-aos-delay="50"
data-aos-duration="1000"
data-aos-easing="ease-in-out"
data-aos-mirror="true"
data-aos-once="false">
  <div class="col-6 testimonials">
    <h2 class="testamonial-title">Testimonials</h2>
  </div>
  <div class="col-8 testimonial-text">
    <p>"Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero quam quibusdam consequuntur. Ipsum culpa quam doloremque necessitatibus! Dolore, totam quasi ratione eum earum iste. Ipsum quia ad nisi aliquid deleniti!</p>
  </div>
  <div class="col-8 testimonial-text">
    <p>"Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero quam quibusdam consequuntur. Ipsum culpa quam doloremque necessitatibus! Dolore, totam quasi ratione eum earum iste. Ipsum quia ad nisi aliquid deleniti!</p>
  </div>
  <div class="col-8 testimonial-text">
    <p>"Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero quam quibusdam consequuntur. Ipsum culpa quam doloremque necessitatibus! Dolore, totam quasi ratione eum earum iste. Ipsum quia ad nisi aliquid deleniti!</p>
  </div>
</div>




<div class="row justify-content-center connect-with-us"  data-aos="fade"
data-aos-offset="100"
data-aos-delay="50"
data-aos-duration="1000"
data-aos-easing="ease-in-out"
data-aos-mirror="true"
data-aos-once="false">

  <h1 class="connect">Connect With Us</h1>
  <div class="col-3">
    <img class= "icon" src="https://cdn-icons-png.flaticon.com/128/542/542689.png" alt="">
    <a class="phone-icon" href="mailto:darjapisorn@gmail.com">Darjapison@gmail.com</a>
  </div>

<div class="col-2">
  <img class= "icon" link src="https://cdn-icons-png.flaticon.com/128/597/597177.png" alt="">
  <a class="phone-icon">440-391-0903</a>
</div>


<!-- <div>
  <h2 class="connect-schedule">Or:</h2>
</div>

<a class="col-6 button" routerLink="/contact"><button class="btn btn-primary"> Schedule a free 15 minute call</button></a> -->


</div>